
body{
    background-color:#6BBE6B ;
}

/*Player*/
#player
{
    position: absolute ;
    width: 60px ;
    height: 60px ;
    background-image: url('bomberpng/perso3.png') ;
    background-size: cover;
    z-index: 2 ; 
}
/*Ennemi*/

#ennemi1
{
    position: absolute ;
    width: 60px ;
    height: 60px ;
    background-image: url('bomberpng/versus3.png') ;
    background-size: cover;
    z-index: 2 ; 
}
/*Bombe*/
#bombe
{
    width: 60px;
    height: 60px;
}
#ennemi2
{
    position: absolute ;
    width: 60px ;
    height: 60px ;
    background-image: url('bomberpng/bomb1.png') ;
    background-image: url('bomberpng/versus7.png') ;
    background-size: cover;
    z-index: 2 ; 
}

#ennemi3
{
    position: absolute ;
    width: 60px ;
    height: 60px ;
    background-image: url('bomberpng/versus11.png') ;
    background-size: cover;
    z-index: 2 ; 
}
/* Couleurs carte */

.case {
    position: absolute ;
    width: 60px ;
    height: 60px; 
}

.sol
{
    position: absolute ;
    width: 60px ;
    height: 60px;
    background-color:#6BBE6B ;
}
.bord
{
    position: absolute ;
    width: 60px ;
    height: 60px ;
}
/* Position des deux cartes carteSol et carteObjet */
.container
{
    position: relative ;
    margin: auto ;
    height: 720px;
    width: 720px;
    margin-top: 30px;
}
#carteSol
{
    left: 0px;
    top: 0px;
    z-index: 1;
}
/*Fin position cartes*/
/*Position des blocks des sols */
/*lignes 0 */
#l0-c0 
{   
    background-image: url("bomberpng/bar1.png") ;
    background-size: cover ;
    left: 0px;
    top: 0px;
}
#l0-c1 
{
    background-image: url("bomberpng/bar6.png") ;
    background-size: cover ;
    left: 60px;
    top: 0px;
}
#l0-c2 
{
    background-image: url("bomberpng/bar6.png") ;
    background-size: cover ;
    left: 120px;
    top: 0px;
}
#l0-c3 
{
    background-image: url("bomberpng/bar6.png") ;
    background-size: cover ;
    left: 180px;
    top: 0px;
}
#l0-c4 
{
    background-image: url("bomberpng/bar6.png") ;
    background-size: cover ;
    left: 240px;
    top: 0px;
}
#l0-c5 
{
    background-image: url("bomberpng/bar6.png") ;
    background-size: cover ;
    left: 300px;
    top: 0px;
}
#l0-c6 
{
    background-image: url("bomberpng/bar6.png") ;
    background-size: cover ;
    left: 360px;
    top: 0px;
}
#l0-c7 
{
    background-image: url("bomberpng/bar6.png") ;
    background-size: cover ;
    left: 420px;
    top: 0px;
}
#l0-c8 
{
    background-image: url("bomberpng/bar6.png") ;
    background-size: cover ;
    left: 480px;
    top: 0px;
}
#l0-c9 
{
    background-image: url("bomberpng/bar6.png") ;
    background-size: cover ;
    left: 540px;
    top: 0px;
}
#l0-c10 
{
    background-image: url("bomberpng/bar6.png") ;
    background-size: cover ;
    left: 600px;
    top: 0px;
}
#l0-c11 
{
    background-image: url("bomberpng/bar6.png") ;
    background-size: cover ;
    left: 660px;
    top: 0px;
}
#l0-c12 
{
    background-image: url("bomberpng/bar2.png") ;
    background-size: cover ;
    left: 720px;
    top: 0px;
}
#l1-c0 
{
    background-image: url("bomberpng/bar5.png") ;
    background-size: cover ;
    left: 0px;
    top: 60px;
}
#l1-c1 
{
    background-image: url("bomberpng/herb1.png") ;
    background-size: cover ;
    left: 60px;
    top: 60px;
}
#l1-c2 
{
    left: 120px;
    top: 60px;
}
#l1-c3 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 180px;
    top: 60px;
}
#l1-c4 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 240px;
    top: 60px;
}
#l1-c5 
{
    background-image: url("bomberpng/pot.png") ;
    background-size: cover ;
    left: 300px;
    top: 60px;
}
#l1-c6 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 360px;
    top: 60px;
}
#l1-c7 
{
    left: 420px;
    top: 60px;
}
#l1-c8
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 480px;
    top: 60px;
}
#l1-c9 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 540px;
    top: 60px;
}
#l1-c10 
{
    left: 600px;
    top: 60px;
}
#l1-c11 
{
    left: 660px;
    top: 60px;
}
#l1-c12 
{
    background-image: url("bomberpng/bar5.png") ;
    background-size: cover ;
    left: 720px;
    top: 60px;
}
#l2-c0 
{
    background-image: url("bomberpng/bar5.png") ;
    background-size: cover ;
    left: 0px;
    top: 120px;
}
#l2-c1 
{
    left: 60px;
    top: 120px;
}
#l2-c2 
{
    background-image: url('bomberpng/souche.png');
    background-size: cover ;
    left: 120px;
    top: 120px;
}
#l2-c3 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 180px;
    top: 120px;
}
#l2-c4 
{
    background-image: url('bomberpng/souche.png');
    background-size: cover ;
    left: 240px;
    top: 120px;
}
#l2-c5 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 300px;
    top: 120px;
}
#l2-c6 
{
    background-image: url('bomberpng/souche.png');
    background-size: cover ;
    left: 360px;
    top: 120px;
}
#l2-c7 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 420px;
    top: 120px;
}
#l2-c8
{
    background-image: url('bomberpng/souche.png');
    background-size: cover ;
    left: 480px;
    top: 120px;
}
#l2-c9 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 540px;
    top: 120px;
}
#l2-c10 
{
    background-image: url('bomberpng/souche.png');
    background-size: cover ;
    left: 600px;
    top: 120px;
}
#l2-c11 
{
    background-image: url("bomberpng/herb.png") ;
    background-size: cover ;
    left: 660px;
    top: 120px;
}
#l2-c12 
{
    background-image: url("bomberpng/bar5.png") ;
    background-size: cover ;
    left: 720px;
    top: 120px;
}
#l3-c0 
{
    background-image: url("bomberpng/bar5.png") ;
    background-size: cover ;
    left: 0px;
    top: 180px;
}
#l3-c1 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 60px;
    top: 180px;
}
#l3-c2 
{
    left: 120px;
    top: 180px;
}
#l3-c3 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 180px;
    top: 180px;
}
#l3-c4 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 240px;
    top: 180px;
}
#l3-c5 
{
    background-image: url("bomberpng/herb.png") ;
    background-size: cover ;
    left: 300px;
    top: 180px;
}
#l3-c6 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 360px;
    top: 180px;
}
#l3-c7 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 420px;
    top: 180px;
}
#l3-c8
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 480px;
    top: 180px;
}
#l3-c9 
{
    background-image: url("bomberpng/herb.png") ;
    background-size: cover ;
    left: 540px;
    top: 180px;
}
#l3-c10 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 600px;
    top: 180px;
}
#l3-c11 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 660px;
    top: 180px;
}
#l3-c12 
{
    background-image: url("bomberpng/bar5.png") ;
    background-size: cover ;
    left: 720px;
    top: 180px;
}
#l4-c0 
{
    background-image: url("bomberpng/bar5.png") ;
    background-size: cover ;
    left: 0px;
    top: 240px;
}
#l4-c1 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 60px;
    top: 240px;
}
#l4-c2 
{
    background-image: url('bomberpng/souche.png');
    background-size: cover ;
    left: 120px;
    top: 240px;
}
#l4-c3 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 180px;
    top: 240px;
}
#l4-c4 
{
    background-image: url('bomberpng/souche.png');
    background-size: cover ;
    left: 240px;
    top: 240px;
}
#l4-c5 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 300px;
    top: 240px;
}
#l4-c6 
{
    background-image: url('bomberpng/souche.png');
    background-size: cover ;
    left: 360px;
    top: 240px;
}
#l4-c7 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 420px;
    top: 240px;
}
#l4-c8
{
    background-image: url('bomberpng/souche.png');
    background-size: cover ;
    left: 480px;
    top: 240px;
}
#l4-c9 
{
    background-image: url("bomberpng/pot.png") ;
    background-size: cover ;
    left: 540px;
    top: 240px;
}
#l4-c10 
{
    background-image: url('bomberpng/souche.png');
    background-size: cover ;
    left: 600px;
    top: 240px;
}
#l4-c11 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 660px;
    top: 240px;
}
#l4-c12 
{
    background-image: url("bomberpng/bar5.png") ;
    background-size: cover ;
    left: 720px;
    top: 240px;
}
#l5-c0 
{
    background-image: url("bomberpng/bar5.png") ;
    background-size: cover ;
    left: 0px;
    top: 300px;
}
#l5-c1 
{
    left: 60px;
    top: 300px;
}
#l5-c2 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 120px;
    top: 300px;
}
#l5-c3 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 180px;
    top: 300px;
}
#l5-c4 
{
    background-image: url("bomberpng/herb.png") ;
    background-size: cover ;
    left: 240px;
    top: 300px;
}
#l5-c5 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 300px;
    top: 300px;
}
#l5-c6 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 360px;
    top: 300px;
}
#l5-c7 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 420px;
    top: 300px;
}
#l5-c8
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 480px;
    top: 300px;
}
#l5-c9 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 540px;
    top: 300px;
}
#l5-c10 
{
    left: 600px;
    top: 300px;
}
#l5-c11 
{
    background-image: url("bomberpng/herb.png") ;
    background-size: cover ;
    left: 660px;
    top: 300px;
}
#l5-c12 
{
    background-image: url("bomberpng/bar5.png") ;
    background-size: cover ;
    left: 720px;
    top: 300px;
}
#l6-c0 
{
    background-image: url("bomberpng/bar5.png") ;
    background-size: cover ;
    left: 0px;
    top: 360px;
}
#l6-c1 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 60px;
    top: 360px;
}
#l6-c2 
{
    background-image: url('bomberpng/souche.png');
    background-size: cover ;
    left: 120px;
    top: 360px;
}
#l6-c3 
{
    background-image: url("bomberpng/pot.png") ;
    background-size: cover ;
    left: 180px;
    top: 360px;
}
#l6-c4 
{
    background-image: url('bomberpng/souche.png');
    background-size: cover ;
    left: 240px;
    top: 360px;
}
#l6-c5 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 300px;
    top: 360px;
}
#l6-c6 
{
    background-image: url('bomberpng/souche.png');
    background-size: cover ;
    left: 360px;
    top: 360px;
}
#l6-c7 
{
    left: 420px;
    top: 360px;
}
#l6-c8
{
    background-image: url('bomberpng/souche.png');
    background-size: cover ;
    left: 480px;
    top: 360px;
}
#l6-c9 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 540px;
    top: 360px;
}
#l6-c10 
{
    background-image: url('bomberpng/souche.png');
    background-size: cover ;
    left: 600px;
    top: 360px;
}
#l6-c11 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 660px;
    top: 360px;
}
#l6-c12 
{
    background-image: url("bomberpng/bar5.png") ;
    background-size: cover ;
    left: 720px;
    top: 360px;
}
#l7-c0 
{
    background-image: url("bomberpng/bar5.png") ;
    background-size: cover ;
    left: 0px;
    top: 420px;
}
#l7-c1 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 60px;
    top: 420px;
}
#l7-c2 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 120px;
    top: 420px;
}
#l7-c3 
{
    left: 180px;
    top: 420px;
}
#l7-c4 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 240px;
    top: 420px;
}
#l7-c5 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 300px;
    top: 420px;
}
#l7-c6 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 360px;
    top: 420px;
}
#l7-c7 
{
    background-image: url("bomberpng/pot.png") ;
    background-size: cover ;
    left: 420px;
    top: 420px;
}
#l7-c8
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 480px;
    top: 420px;
}
#l7-c9 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 540px;
    top: 420px;
}
#l7-c10 
{
    background-image: url("bomberpng/herb.png") ;
    background-size: cover ;
    left: 600px;
    top: 420px;
}
#l7-c11 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 660px;
    top: 420px;
}
#l7-c12 
{
    background-image: url("bomberpng/bar5.png") ;
    background-size: cover ;
    left: 720px;
    top: 420px;
}
#l8-c0 
{
    background-image: url("bomberpng/bar5.png") ;
    background-size: cover ;
    left: 0px;
    top: 480px;
}
#l8-c1 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 60px;
    top: 480px;
}
#l8-c2 
{
    background-image: url('bomberpng/souche.png');
    background-size: cover ;
    left: 120px;
    top: 480px;
}
#l8-c3 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 180px;
    top: 480px;
}
#l8-c4 
{
    background-image: url('bomberpng/souche.png');
    background-size: cover ;
    left: 240px;
    top: 480px;
}
#l8-c5 
{
    left: 300px;
    top: 480px;
}
#l8-c6 
{
    background-image: url('bomberpng/souche.png');
    background-size: cover ;
    left: 360px;
    top: 480px;
}
#l8-c7 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 420px;
    top: 480px;
}
#l8-c8
{
    background-image: url('bomberpng/souche.png');
    background-size: cover ;
    left: 480px;
    top: 480px;
}
#l8-c9 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 540px;
    top: 480px;
}
#l8-c10 
{
    background-image: url('bomberpng/souche.png');
    background-size: cover ;
    left: 600px;
    top: 480px;
}
#l8-c11 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 660px;
    top: 480px;
}
#l8-c12 
{
    background-image: url("bomberpng/bar5.png") ;
    background-size: cover ;
    left: 720px;
    top: 480px;
}
#l9-c0 
{
    background-image: url("bomberpng/bar5.png") ;
    background-size: cover ;
    left: 0px;
    top: 540px;
}
#l9-c1 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 60px;
    top: 540px;
}
#l9-c2 
{
    background-image: url("bomberpng/herb.png") ;
    background-size: cover ;
    left: 120px;
    top: 540px;
}
#l9-c3 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 180px;
    top: 540px;
}
#l9-c4 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 240px;
    top: 540px;
}
#l9-c5 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 300px;
    top: 540px;
}
#l9-c6 
{
    left: 360px;
    top: 540px;
}
#l9-c7 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 420px;
    top: 540px;
}
#l9-c8
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 480px;
    top: 540px;
}
#l9-c9 
{
    left: 540px;
    top: 540px;
}
#l9-c10 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 600px;
    top: 540px;
}
#l9-c11 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 660px;
    top: 540px;
}
#l9-c12 
{
    background-image: url("bomberpng/bar5.png") ;
    background-size: cover ;
    left: 720px;
    top: 540px;
}
#l10-c0 
{
    background-image: url("bomberpng/bar5.png") ;
    background-size: cover ;
    left: 0px;
    top: 600px;
}
#l10-c1 
{
    left: 60px;
    top: 600px;
}
#l10-c2 
{
    background-image: url('bomberpng/souche.png');
    background-size: cover ;
    left: 120px;
    top: 600px;
}
#l10-c3 
{
    background-image: url("bomberpng/herb.png") ;
    background-size: cover ;
    left: 180px;
    top: 600px;
}
#l10-c4 
{
    background-image: url('bomberpng/souche.png');
    background-size: cover ;
    left: 240px;
    top: 600px;
}
#l10-c5 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 300px;
    top: 600px;
}
#l10-c6 
{
    background-image: url('bomberpng/souche.png');
    background-size: cover ;
    left: 360px;
    top: 600px;
}
#l10-c7 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 420px;
    top: 600px;
}
#l10-c8
{
    background-image: url('bomberpng/souche.png');
    background-size: cover ;
    left: 480px;
    top: 600px;
}
#l10-c9 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 540px;
    top: 600px;
}
#l10-c10 
{
    background-image: url('bomberpng/souche.png');
    background-size: cover ;
    left: 600px;
    top: 600px;
}
#l10-c11 
{
    left: 660px;
    top: 600px;
}
#l10-c12 
{
    background-image: url("bomberpng/bar5.png") ;
    background-size: cover ;
    left: 720px;
    top: 600px;
}
#l11-c0 
{
    background-image: url("bomberpng/bar5.png") ;
    background-size: cover ;
    left: 0px;
    top: 660px;
}
#l11-c1 
{
    left: 60px;
    top: 660px;
}
#l11-c2 
{
    background-image: url("bomberpng/herb.png") ;
    background-size: cover ;
    left: 120px;
    top: 660px;
}
#l11-c3 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 180px;
    top: 660px;
}
#l11-c4 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 240px;
    top: 660px;
}
#l11-c5 
{
    left: 300px;
    top: 660px;
}
#l11-c6 
{
    background-image: url("bomberpng/pot.png") ;
    background-size: cover ;
    left: 360px;
    top: 660px;
}
#l11-c7 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 420px;
    top: 660px;
}
#l11-c8
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 480px;
    top: 660px;
}
#l11-c9 
{
    background-image: url("bomberpng/leaf.png") ;
    background-size: cover ;
    left: 540px;
    top: 660px;
}
#l11-c10 
{
    left: 600px;
    top: 660px;
}
#l11-c11 
{
    background-image: url("bomberpng/herb.png") ;
    background-size: cover ;
    left: 660px;
    top: 660px;
}
#l11-c12 
{
    background-image: url("bomberpng/bar5.png") ;
    background-size: cover ;
    left: 720px;
    top: 660px;
}
#l12-c0 
{
    background-image: url("bomberpng/bar4.png") ;
    background-size: cover ;
    left: 0px;
    top: 720px;
}
#l12-c1 
{
    background-image: url("bomberpng/bar6.png") ;
    background-size: cover ;
    left: 60px;
    top: 720px;
}
#l12-c2 
{
    background-image: url("bomberpng/bar6.png") ;
    background-size: cover ;
    left: 120px;
    top: 720px;
}
#l12-c3 
{
    background-image: url("bomberpng/bar6.png") ;
    background-size: cover ;
    left: 180px;
    top: 720px;
}
#l12-c4 
{
    background-image: url("bomberpng/bar6.png") ;
    background-size: cover ;
    left: 240px;
    top: 720px;
}
#l12-c5 
{
    background-image: url("bomberpng/bar6.png") ;
    background-size: cover ;
    left: 300px;
    top: 720px;
}
#l12-c6 
{
    background-image: url("bomberpng/bar6.png") ;
    background-size: cover ;
    left: 360px;
    top: 720px;
}
#l12-c7 
{
    background-image: url("bomberpng/bar6.png") ;
    background-size: cover ;
    left: 420px;
    top: 720px;
}
#l12-c8
{
    background-image: url("bomberpng/bar6.png") ;
    background-size: cover ;
    left: 480px;
    top: 720px;
}
#l12-c9 
{
    background-image: url("bomberpng/bar6.png") ;
    background-size: cover ;
    left: 540px;
    top: 720px;
}
#l12-c10 
{
    background-image: url("bomberpng/bar6.png") ;
    background-size: cover ;
    left: 600px;
    top: 720px;
}
#l12-c11 
{
    background-image: url("bomberpng/bar6.png") ;
    background-size: cover ;
    left: 660px;
    top: 720px;
}
#l12-c12 
{
    background-image: url("bomberpng/bar3.png") ;
    background-size: cover ;
    left: 720px;
    top: 720px;
}